<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="AWSAccessKey" value="AKIAJU2K3V2S2TO5P7OA"/>
		<add key="AWSSecretKey" value="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"/>
	</appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
